html{
  box-sizing: border-box;
}*,*::before,*::after{
  box-sizing: inherit;
}


body{
  font-family: 'Roboto', sans-serif;
  background-color: #212121;
}

img{
  max-width: 100%;
}

h2{
  font-size: 2.5rem;
  text-align: center;
  font-weight: 400;
  margin: 1rem;
}

.contenedor-imagenes{
  width: 90%;
  max-width: 1600px;
  margin: 0 auto;
}

.contenedor{
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}
